input {
  width: 350px;
  padding-left: 5px;
}

button {
  margin-left: 10px;
}

.search-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border-bottom: 1px solid black;
}

.results-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 20px;
  padding-top: 20px;
}

.results-item {
  position: relative;
}

.results-display {
  height: 350px;
  width: 350px;
}

.like-format {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: red;
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
}

#result-limit-input {
  width: 3em;
}

.search-div label {
  margin-left: 20px;
}

.page-nav-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.page-nav-div ul {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 10px;
  color: blue;
  font-size: x-large;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

.page-nav-div h2 {
  margin: 0px;
}

.page-nav-div li {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.bigger {
  font-size: xx-large;
}
